body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    min-height: 100vh;
    padding-top: 5rem;
}

body>div {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    row-gap: 4rem;
}

main {
    display: flex;
    justify-content: center;
    min-width: 375px;
    height: fit-content;
    max-width: 500px;
    flex: 2 1 0;
}

#gameContainer {
    display: grid;
    height: fit-content;
    grid-template-rows: repeat(3, 110px);
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
    background-color: #145C9E;
}

.tile {
    width: 110px;
    height: 110px;
    background-color: white;
}

.tile>input {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.playerX {
    background-image: url("./images/X.svg");
}

.playerO {
    background-image: url("./images/O.svg");
}

aside {
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
    max-width: 350px;
    height: fit-content;
    flex: 1 1 0;
    margin-left: 2rem;
}

#dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-width: 350px;
    height: 25rem;
    border: 0.5rem solid #19705f;
    border-radius: 2rem;
    padding: 2rem;
}

#dataContainer h1,
#dataContainer h2 {
    margin: 0;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#scoreBoard > div {
    display: flex;
    justify-content: space-evenly;
}

#scoreBoard > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
}

#scoreBoard p {
    margin: 0;
}

#scoreLine {
    height: 100%;
    border-left: 4px solid #19705f;
    margin-left: -2px;
}

#controls {
    display: flex;
    gap: 2rem;
}

#controls > input[type="button"] {
    appearance: none;
    padding: 0.5rem 1.5rem;
    width: 50%;
    min-width: fit-content;
    font-size: 1rem;
    border: 2px solid #19705f;
    border-radius: 0.5rem;
    font-weight: bold;
}

#resetBtn {
    background-color: #19705f;
    color: white;
}

#resetSco {
    background-color: white;
    color: #19705f;
}

#turnIndicator {
    display: flex;
    align-items: center;
    height: 2rem;
    gap: 1rem;
}

#turnIndicator>p {
    font-size: 1.5rem;
}

#turnIndicator>img {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
}

.hidden {
    display: none !important;
}